.container{
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin:0 auto;
  width: 100%;
  background-color: #e0e0e0;
}


.container img{
  margin:20px; 
  width: 900px;
  height:600px;
  border-radius: 20px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
}


.container input{
  position: absolute;
  background-color: transparent;
  color: #fff;
  text-align: center;
  left:500px;
  top:200px;
  font-size: 36px;
  font-weight: 600;
  cursor: pointer;
  border:none;
  padding:8px;
}

.container input:focus{
  border:2px solid blue;
  outline: none;
}

.container input::placeholder{
  color: #ccc;
}